Sphinx
# Lock docutils because in docs/conf.py we do some messing around with docutils internals in a hacky way.
# Upgrading docutils has in the past broken this, so let's keep on a locked version to avoid future breaks.
# (Hacky way? See tables on /hsds/reference/ and how they are generated with ListTable.build_table_from_list)
# sphinx-rtd-theme==1.1.1 requires docutils<0.18
docutils>=0.17,<0.18
sphinx-intl
transifex-client
sphinx-rtd-theme
# myst-parser-0.18 and above incompatible with sphinxcontrib-opendataservices
myst-parser<0.18
erd-from-json-table-schema
# sphinxcontrib jsonschema
sphinxcontrib-opendataservices-jsonschema
# sphinxcontrib ODSC
sphinxcontrib-opendataservices
sphinxcontrib_openapi
sphinx-design
git+https://github.com/openreferral/hsds_schema_tools
